[workspace]
members = [ "glr_core", "glr_dylib", "glr_lib"]
resolver = "2"


[workspace.package]
version = "1.1.4"
edition = "2021"
authors = ["Tgb03<tgb03.dev@gmail.com>"]


[profile.release]
codegen-units = 1
opt-level = 3
lto = true
strip = "symbols"
overflow-checks = false
panic = "abort"
